src/main/java/com/elm/spcodegen/jaxb/spmetadata.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="spmetadata">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element type="xs:string" name="sp_name"/>
                        <xs:element name="input_parameters">
                              <xs:complexType>
                                    <xs:sequence>
                                                <xs:element name="column" maxOccurs="unbounded" minOccurs="0">
                                                <xs:complexType>
                                                      <xs:simpleContent>
                                                            <xs:extension base="xs:string">
                                                                  <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                  <xs:attribute type="xs:string" name="type" use="optional"/>
                                                            </xs:extension>
                                                      </xs:simpleContent>
                                                </xs:complexType>
                                          </xs:element>
                                    </xs:sequence>
                              </xs:complexType>
                        </xs:element>
                        <xs:element name="output_parameters">
                              <xs:complexType>
                                    <xs:sequence>
                                          <xs:element name="column" maxOccurs="unbounded" minOccurs="0">
                                                <xs:complexType>
                                                      <xs:simpleContent>
                                                            <xs:extension base="xs:string">
                                                                  <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                  <xs:attribute type="xs:string" name="type" use="optional"/>
                                                            </xs:extension>
                                                      </xs:simpleContent>
                                                </xs:complexType>
                                          </xs:element>
                                    </xs:sequence>
                              </xs:complexType>
                        </xs:element>
                        <xs:element name="return_result_sets">
                              <xs:complexType>
                                    <xs:sequence>
                                          <xs:element name="result_set" maxOccurs="unbounded" minOccurs="0">
                                                <xs:complexType>
                                                      <xs:sequence>
                                                            <xs:element name="column" maxOccurs="unbounded" minOccurs="0">
                                                                  <xs:complexType>
                                                                        <xs:simpleContent>
                                                                              <xs:extension base="xs:string">
                                                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                                    <xs:attribute type="xs:string" name="type" use="optional"/>
                                                                              </xs:extension>
                                                                        </xs:simpleContent>
                                                                  </xs:complexType>
                                                            </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:string" name="name" use="optional"/>
                                                </xs:complexType>
                                          </xs:element>
                                    </xs:sequence>
                              </xs:complexType>
                        </xs:element>
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
</xs:schema>